.dark-theme{
  --backgroundColor : #042743;
  --headerBG: #212529;
  --btnColor: #0D6EFD;
  --TextColor: #fefefe;
  --outputBG: #fefefe;
  --infoTextColor:#fefefe;
}

.light-theme{
    --backgroundColor : #fefefe;
    --headerBG: #48a6f4;
    --btnColor: #ff5c35;
    --TextColor: #fefefe;
    --infoTextColor:#757575;
}